target
/target
/.settings
/.classpath
/.project
/.idea
*.iml
/.springBeans
/target/
rebel*.xml

.classpath
.settings
.project
.build
.idea

*.class
*.DS_Store
*.lock
*.swp
*.eml
*.iml
.metadata

target
bin
