<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <mvc:annotation-driven/>
  
  <!-- 自动扫描且只扫描@Controller 注：如果base-package=cn.javass 则注解事务不起作用 -->
  <!-- 自动扫描且只扫描@Controller -->
  <context:component-scan base-package="com.abin.lee" use-default-filters="false">
	    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	    <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
  </context:component-scan>

   <!-- 完成请求和注解POJO的映射 -->
   <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
   <!--对静态资源文件的访问-->
   <mvc:default-servlet-handler />

   <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>
  
  <!-- 文件上传-->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
        p:defaultEncoding="utf-8"/>

  <!-- @RequestMapping -->
  <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    <property name="messageConverters">
      <list>
        <ref bean="mappingJacksonHttpMessageConverter"/>
        <ref bean="stringHttpMessageConverter"/>
      </list>
    </property>
  </bean>

  <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
  <bean id="mappingJacksonHttpMessageConverter"
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    <property name="supportedMediaTypes">
      <list>
        <value>application/json; charset=UTF-8</value>
        <value>text/html;charset=UTF-8</value>
      </list>
    </property>
  </bean>

  <!-- 解决JSON乱码问题  -->
  <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
    <property name="supportedMediaTypes">
      <list>
        <value>text/plain;charset=UTF-8</value>
        <value>text/html;charset=UTF-8</value>
      </list>
    </property>
  </bean>



</beans>